<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    无参方法注入-->
    <!--    <bean id="userDao" class="com.guoyou.dao.impl.UserDaoImpl" init-method="init" destroy-method="destory">-->

    <!--    </bean>-->

    <!--    静态方法注入-->
    <!--    <bean id="userDao" class="com.guoyou.factory.StaticFactory" factory-method="getUserDao">-->

    <!--    </bean>-->

    <!--&lt;!&ndash;    动态工厂，注入工厂的bean，再注入userDao的bean&ndash;&gt;-->
    <!--    <bean id="factory" class="com.guoyou.factory.DynamicFactory">-->

    <!--    </bean>-->

    <!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao">-->

    <!--    </bean>-->

    <!--    注入Dao-->
    <bean id="userDao" class="com.guoyou.dao.impl.UserDaoImpl">
        <property name="username" value="zhangsan"></property>
        <property name="age" value="18"></property>

        <property name="stringList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>

        <property name="userMap">
            <map>
                <entry key="tom" value-ref="user1"></entry>
                <entry key="jack" value-ref="user2"></entry>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>
    </bean>

    <bean id="user1" class="com.guoyou.domian.User">
        <property name="name" value="tom"></property>
        <property name="address" value="beijing"></property>
    </bean>

    <bean id="user2" class="com.guoyou.domian.User">
        <property name="name" value="jack"></property>
        <property name="address" value="nanjing"></property>
    </bean>

    <!--        1.set注入Service-->
    <!--    <bean id="userService" class="com.guoyou.service.UserServiceImpl">-->
    <!--        <property name="userDao" ref="userDao"></property>-->
    <!--    </bean>-->

    <!--    p命名空间注入-->
    <!--    <bean id="userService" class="com.guoyou.service.UserServiceImpl" p:userDao-ref="userDao">-->
    <!--    </bean>-->

    <!--    2.构造方法注入-->
    <bean id="userService" class="com.guoyou.service.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <import resource="applicationContext-user.xml"/>
    <import resource="applicationContext-product.xml"/>

</beans>